@import url(font.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3B4049;
}

.wrapper {
    height: 600px;
    width: 440px;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 0;
    margin-top: 150px;
}

.lid {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /* border-right: 150px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 150px solid transparent; */
    transform-origin: top;
    transition: transform 0.25s linear;
    background-repeat: no-repeat;
}


/* Lid when closed */

.lid.one {
    transform: rotateX(0deg);
    z-index: 3;
    transition-delay: 0.75s;
    background-image: url(../img/envelop_lit.png);
    background-size: 100%;
}


/* Lid when opened */

.lid.two {
    transform: rotateX(90deg);
    z-index: 1;
    transition-delay: 0.5s;
    background-image: url(../img/envelop_lit2.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.envelope {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /* border-top: 100px solid transparent;
    border-right: 150px solid #C4DFF0;
    border-bottom: 100px solid #C4DFF0;
    border-left: 150px solid #a4d4f2; */
    z-index: 4;
    background-image: url(../img/envelope.png);
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
}

.letter {
    position: absolute;
    top: 0;
    width: 95%;
    height: 440px;
    background-color: white;
    border-radius: 15px;
    z-index: 2;
    transition: 0.5s;
    background-image: url(../img/envelop_letter.png);
    background-size: cover;
}

.letter p {
    font-family: "BalihoScript";
    color: #4B4550;
}

.letter #guess_name {
    text-align: center;
    font-size: 30px;
    margin-top: 75px;
}

.letter #guess_alt {
    font-size: 27px;
    margin-top: 46px;
    margin-left: 169px;
}

.letter img {
    z-index: 3;
}

.wrapper.open .lid.one {
    transform: rotateX(90deg);
    transition-delay: 0s;
}

.wrapper.open .lid.two {
    transform: rotateX(180deg);
    transition-delay: 0.25s;
}

.wrapper.open .letter {
    transform: translateY(-150px);
    transition-delay: 0.5s;
}

.invitation {
    width: 400px;
    height: 400px;
    position: absolute;
    right: 0;
    top: 225px;
}


/* @media only screen and (min-width: 280px) {
    .wrapper {
        height: 1000px;
        width: 800px;
    }
} */


/* @media (min-width: 700px) {
    .wrapper {
        height: 600px;
        width: 500px;
    }
} */

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {}

@media screen and (max-width: 500px) {
    .wrapper {
        margin-top: 250px;
        width: 300px;
    }
    .letter {
        height: 350px;
    }
    .letter #guess_name {
        font-size: 20px;
        margin-top: 52px;
    }
    .letter #guess_alt {
        font-size: 19px;
        margin-top: 30px;
        margin-left: 120px;
    }
}