@import "font.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:hover {
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

body {
    color: white;
    font-family: 'Effra';
    /* background-image: linear-gradient(#E1E1E1, rgb(243, 243, 243)); */
    /* background-image: url('../img/background.jpg');
    background-size: cover;
    background-position-x: right;
    background-position-y: bottom; */
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 40px 15px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 200;
}

nav .name {
    color: white;
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    position: relative;
    z-index: 200;
}

nav .name:hover {
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: white;
}

.wrap {
    display: flex;
    position: relative;
}

.wrap .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 7rem;
}

.wrap .icons a {
    display: block;
    margin-left: 3.2rem;
    width: 1.8rem;
    letter-spacing: 0.1em;
}

.wrap .hamburger {
    position: absolute;
    cursor: pointer;
    right: 0;
    z-index: 200;
    display: block;
}

.line {
    width: 32px;
    height: 3px;
    background: white;
    margin-bottom: 9px;
}

.nav-links .icons {
    display: none;
}

.nav-links .icons a {
    display: block;
    margin: 0 2rem;
    width: 1.8rem;
    letter-spacing: 0.1em;
}

.nav-links {
    background-color: #f9f9f9;
    width: 300px;
    height: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    top: 80px;
    right: 40px;
    z-index: 199;
    display: none;
    position: fixed;
    list-style: none;
    font-family: 'Raleway';
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    transition: all 1s ease-out;
}

.nav-links.open {
    display: flex;
}

.nav-links li {
    /* opacity: 0; */
    width: 100%;
    text-align: center;
}

.nav-links li a {
    font-size: 25px;
    color: black;
}

.nav-links li:nth-child(1) {
    transition: all 0s ease;
}

.nav-links li:nth-child(2) {
    transition: all 0s ease;
}

.nav-links li:nth-child(3) {
    transition: all 0s ease;
}

.nav-links li:nth-child(4) {
    transition: all 0s ease;
}

.mg-top-20 {
    margin-top: 20px;
}

.mg-top-40 {
    margin-top: 40px;
}


/* 
@media screen and (max-width: 420px) {
    .wrap .icons {
        display: none;
    }

    .nav-links .icons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    nav {
        padding: 20px 6.25%;
    }

    nav .name {
        font-size: 1.2rem;
    }

    .line {
        width: 24px;
        margin-bottom: 5px;
    }

    .nav-links {
        width: 100%;
        height: 100%;
        right: 0;
        top: 10%;
        padding-bottom: 30%;
    }

}
 */

.dmtop {
    z-index: 100;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: -100px;
    border-radius: 3px;
    right: 40px;
    cursor: pointer;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

.dmtop.show {
    bottom: 40px;
}

html {
    scroll-behavior: smooth;
}

.bg-img-1 {
    /* The image used */
    background-image: url("../img/background.jpeg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position-x: 50%;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-2 {
    /* The image used */
    background-image: url("../img/background_2.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.location {
    width: 220px;
    height: 70px;
    position: absolute;
    bottom: 0;
    z-index: 5;
}

.calendar {
    width: 120px;
    height: 200px;
    position: absolute;
    bottom: 50px;
    margin-left: 50px;
    z-index: 5;
}